<!DOCTYPE html>
<html lang="en">
    <!-- head -->
    <%- include("partials/head") -%>

<body>
    <!-- header -->
    <%- include("partials/header") -%>

    <div class="container">
        <h1>About Us</h1>
        <p> <%= aboutMarker %> </p>
    </div>


    <!-- footer -->
    <%- include("partials/footer") -%>    
</body>
</html>